body {
	background: grey;
	font-family: 'sofia-pro-condensed';
}

.title {
	text-align: left;
	margin-right: 30px;
	font-family: "andy";
	font-size: 30px;
	color: black;
	
}

.title a:hover{
	background-color: black;
	color: white;
}

.infobar	{
	float: left;
	display: block;
	
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
	height: 69.6px;
	
}

li {
    float: left;
	font-size: 30px;
	display: block;
    text-align: center;
    padding: 20px;
	line-height: 1;

}

.searchbar {
	background-color: black;
	border-color: white;
}

li a{
	text-decoration: none;
	color: black;
}

li:hover {
    background-color: black;
	color: white;
	
	
}

li:hover a{
	color: white;
	
}

.mountains	{
	float: left;
	text-align: left;
	
}

img	{
	border: 5px solid black;
	
}

.skis	{
	float: left;
	text-align: left;
}

.carousel_1	{
	width:	992px;
	height: 500px;
}

.carousel_2	{
	width:	304px;
	height: 304px;
}

.carousel{
	width:	992px;
	height: 500px;
}

.headers	{
	text-align: center;
	font-size: 50px;
	color: white;
	text-decoration: underline;
	
}


/*CSS for ABOUT.HTML */

.skier	{
	margin: 20px;
}

.aboutme	{
	background-color: white;
	border: 3px solid black;
	padding: 5px;
}

.heading1{
	color: white;
}




/*CSS for gear.html */


.gearpics	{
	border: 3px solid black;
	margin: 30px;
	column-count: 2;
	
}



