body {
	background: grey;
	font-family: 'sofia-pro-condensed';
}

.title {
	text-align: left;
	margin-right: 30px;
	font-family: "andy";
	font-size: 30px;
	color: black;
	
}

.title a:hover{
	background-color: black;
	color: white;
}

.infobar	{
	float: left;
	display: block;
	border: 3px solid black;
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
	
}

li {
    float: left;
	font-size: 30px;
	display: block;
    text-align: center;
    padding: 20px;
	line-height: 1;

}

.searchbar {
	background-color: black;
	border-color: white;
}

li a{
	text-decoration: none;
	color: black;
}

li:hover {
    background-color: black;
	color: white;
	
}

li:hover a{
	color: white;
}

.slider	{
	float: left;
	text-align: left;
	
}

img	{
	border: 5px solid black;
	
}

.picinfo	{
	background-color: white;
	height: 500px;
	width: 300px;
	border: 5px solid black;

}

.heading1 {
	text-align: center;
	font-size: 30px;
	font-family: 'sofia-pro-condensed';
	padding: 5px;
}


.paragraph1	{
	text-align: center;
	padding: 5px;
	font-family: 'Gugi', cursive;
}

.carousel	{
	width:	992px;
	height: 500px;
}

