body {
	background: grey;
	font-family: 'sofia-pro-condensed';
}

.title {
	text-align: left;
	margin-right: 30px;
	font-family: "andy";
	font-size: 30px;
	color: black;
	
}

.title a:hover{
	background-color: black;
	color: white;
}

.infobar	{
	float: left;
	display: block;
	
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
	height: 69.6px;
	
}

li {
    float: left;
	font-size: 30px;
	display: block;
    text-align: center;
    padding: 20px;
	line-height: 1;

}


li a{
	text-decoration: none;
	color: black;
}

li:hover {
    background-color: black;
	color: white;
	
	
}

li:hover a{
	color: white;
	
}

.Biggertitle	{
	font-size: 50px;
	text-align: center;
	font-family: "andy";
	background-color: white;
	border: 3px solid black;
	width: 700px;
	margin: auto;
	margin-bottom: 50px;
}

.carousels	{
	display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.carousel_1	{
	width:	992px;
	height: 500px;
	display: grid;
    margin-left: auto;
    margin-right: auto;
	border: 3px solid black;
}

.carousel_2	{
	width:	304px;
	height: 304px;
	display: grid;
    margin-left: auto;
    margin-right: auto;
	border: 3px solid black;
	 
}



.headers	{
	text-align: center;
	font-size: 50px;
	color: white;
	text-decoration: underline;
	
}


/*CSS for ABOUT.HTML */

.skier	{
	margin: 20px;
}

.aboutme	{
	background-color: white;
	border: 3px solid black;
	padding: 5px;
}

.heading1{
	color: white;
}

/* CSS for Slopes */
.mountainslider	{
	width:	992px;
	height: 500px;
	display: grid;
    margin-left: auto;
    margin-right: auto;
	border: 3px solid black;
}

.paragraph1	{
	width: 300px;
	
}

/*CSS for gear.html */


.gearpics	{
	border: 3px solid black;
	margin: 30px;
	column-count: 2;
	
}



